{% load static %}

<nav class="navbar navbar-expand navbar-light" style="background-color: radial-gradient(#E4CEA6, #9C8763);">
  <div class="container-fluid">
    <a class="navbar-brand" href='{% url "index" %}' id="navLogo"><img src="{% static 'Books/pictures/nLogo.jpg' %}"></a>
    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active btn-fav" aria-current="page" href="{% url 'favorites' user.username %}">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-fav" aria-current="page" href="{% url 'issuedBooks' user.username %}">Issued Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Amount Owed: Rs. {{user.fine}}</a>
        </li>
      </ul>
    </div>
    {% endif %}
    <form class="d-flex" action="{% url 'search' %}">
      {% csrf_token %}
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchText">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
  </div>
</nav>
